<!-- search bar -->
<div class="container mt-3">
  <div class="row ">
    <div class="col-md-10 col-12 mx-auto d-flex justify-content-between">
      <div class="col-4 mb-0 pl-0">
        <a href="/restaurants/new" class="btn btn-warning text-muted font-weight-bolder">Create</a>
      </div>
      <div class="col-4 mb-0 pl-0">
        <form action="/">
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
            </div>
            <input type="search" name="keyword" class="form-control" placeholder="輸入餐廳、分類"
              aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="addon-wrapping">
          </div>
        </form>
      </div>
      <div class="col-4 mb-0 pr-0">
        <form action="/">
          <select name="sort" class="w-100 rounded" style="height: 38px;" onchange="this.form.submit();">
            <option value="0">Sort</option>
            <option value="1" {{selected sort '1' }}>A->Z</option>
            <option value="2" {{selected sort '2' }}>Z->A</option>
            <option value="3" {{selected sort '3' }}>類別</option>
            <option value="4" {{selected sort '4' }}>地區</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <div class="card mb-0">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <span class="badge badge-pill badge-danger font-weight-normal">
              {{#if this.rating}} {{this.rating}} {{else}} -- {{/if}}
              <i class="fas fa-star fa-xs"></i>
            </span>

          </div>
        </div>
        <div class="mt-2 mb-3 text-right">
          <a href="/restaurants/{{this._id}}/edit" class="text-secondary mr-2"><u>Edit</u></a>
          <a href="/restaurants/{{this._id}}" class="text-secondary mr-2"><u>Detail</u></a>
          <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-warning text-muted font-weight-bolder">Delete</button>
          </form>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>